@import "./Variable.scss";

.div {
    // border: 2px solid orange;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;

    .image {
        object-fit: cover;
        height: 15em;
        border-radius: 15px;
        transition: transform 0.2s;
    }

    .image:hover {
        transform: scale(1.05); 
    }

    .details {
        h2 {
            font-size: large;
            font-weight: bold;
            margin: 5px 0;
            height: 50px;
            overflow: hidden;
        }

        .flex-div {
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }

        div {
            align-items: center;
            margin-left: -7px;
            height: 70px;
        }

        img {
            height: 30px;
            margin: auto;
        }

        p {
            font-size: small;
            width: 80px;
            text-align: center;
        }
    }
}